BODY {
  FONT-SIZE: small;
  COLOR: black;
  FONT-FAMILY: Georgia, "New Century Schoolbook", Times, serif;
  BACKGROUND-COLOR: white;
  TEXT-ALIGN: center;
}

IMG {
	BORDER-TOP-STYLE: none;
  BORDER-RIGHT-STYLE: none;
  BORDER-LEFT-STYLE: none;
  BORDER-BOTTOM-STYLE: none
}
H1 {
	FONT-WEIGHT: normal
}
H2 {
	MARGIN-TOP: 12px; FONT-WEIGHT: normal; MARGIN-BOTTOM: 0px
}
H3 {
	MARGIN-TOP: 6px; FONT-SIZE: small; MARGIN-BOTTOM: 0px
}
P {
	MARGIN-TOP: 0px; font-size: 15px
}
A {
	FONT-WEIGHT: bolder; TEXT-DECORATION: none
}
A:link {
	COLOR: #990000
}
A:visited {
	COLOR: #666666
}
#content {
	CLEAR: right
}
#main {
	LINE-HEIGHT: 1.5;
	PADDING-TOP: 25px;
	MARGIN-LEFT: auto;
	WIDTH: expression(document.body.clientWidth >
1000? "1000px": "auto" );
	MARGIN-RIGHT: auto;
	TEXT-ALIGN: left;
	max-width: 1000px;
}
.cite {
	font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
	background-color: #f6f8fa;
    	border-radius: 3px;
    	font-size: 85%;
    	line-height: 1.45;
    	overflow: auto;
    	padding: 16px;
    	word-wrap: normal;
}
